ion-content {
  --background: none;
  background-image: url("../../assets/images/homeimg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font: "Raleway";
}

h1 {
  font-size: 64px;
  font-weight: 800;
  margin-left: 1rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
  opacity: 50%;
}

h2:hover {
  background-color: #2d2a32;
  color: #fcfcfc;
}
