<ion-header>
  <ion-toolbar>
    <ion-title>
      LEFT | BRAIN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <br>





        <ion-text color='light'>
          <h1>ORGANIZE</h1>
        </ion-text>
        <ion-text color='light'>
          <h1>YOUR</h1>
        </ion-text>
        <ion-text color='light'>
          <h1>BEAUTIFUL</h1>
        </ion-text>
        <ion-text color='light'>
          <h1>MESS</h1>
        </ion-text>
        <br>

        <ion-button expand='block' class='login' href='/login'>Login</ion-button>
        <ion-button expand='block' class='signup' color='secondary' href='/signup'>Sign Up</ion-button>
      </ion-col>
      <br>


    </ion-row>
  </ion-grid>


</ion-content>