:root {
  --ion-color-primary: #2d2a32;
  --ion-color-primary-rgb: 45, 42, 50;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #28252c;
  --ion-color-primary-tint: #423f47;

  --ion-color-secondary: #7c606b;
  --ion-color-secondary-rgb: 124, 96, 107;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #6d545e;
  --ion-color-secondary-tint: #89707a;

  --ion-color-tertiary: #6c464f;
  --ion-color-tertiary-rgb: 108, 70, 79;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5f3e46;
  --ion-color-tertiary-tint: #7b5961;

  --ion-color-success: #ab84ff;
  --ion-color-success-rgb: 171, 132, 255;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #9674e0;
  --ion-color-success-tint: #b390ff;

  --ion-color-warning: #eb7bc0;
  --ion-color-warning-rgb: 235, 123, 192;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #cf6ca9;
  --ion-color-warning-tint: #ed88c6;

  --ion-color-danger: #840032;
  --ion-color-danger-rgb: 132, 0, 50;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #74002c;
  --ion-color-danger-tint: #901a47;

  --ion-color-dark: #28252c;
  --ion-color-dark-rgb: 40, 37, 44;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #232127;
  --ion-color-dark-tint: #3e3b41;

  --ion-color-medium: #e2dadb;
  --ion-color-medium-rgb: 226, 218, 219;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #c7c0c1;
  --ion-color-medium-tint: #e5dedf;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
