// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #2d2a32;
  --ion-color-primary-rgb: 45, 42, 50;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #28252c;
  --ion-color-primary-tint: #423f47;

  --ion-color-secondary: #e2dadb;
  --ion-color-secondary-rgb: 226, 218, 219;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #c7c0c1;
  --ion-color-secondary-tint: #e5dedf;

  --ion-color-tertiary: #eeff41;
  --ion-color-tertiary-rgb: 238, 255, 65;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #d1e039;
  --ion-color-tertiary-tint: #f0ff54;

  --ion-color-success: #cff73d;
  --ion-color-success-rgb: 207, 247, 61;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #b6d936;
  --ion-color-success-tint: #d4f850;

  --ion-color-warning: #ffd91c;
  --ion-color-warning-rgb: 255, 217, 28;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bf19;
  --ion-color-warning-tint: #ffdd33;

  --ion-color-danger: #ff5722;
  --ion-color-danger-rgb: 255, 87, 34;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #e04d1e;
  --ion-color-danger-tint: #ff6838;

  --ion-color-dark: #000000;
  --ion-color-dark-rgb: 0, 0, 0;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #000000;
  --ion-color-dark-tint: #1a1a1a;

  --ion-color-medium: #a1887f;
  --ion-color-medium-rgb: 161, 136, 127;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #8e7870;
  --ion-color-medium-tint: #aa948c;

  --ion-color-light: #fcfcfc;
  --ion-color-light-rgb: 252, 252, 252;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #dedede;
  --ion-color-light-tint: #fcfcfc;
}
