<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot='start'>
      <ion-back-button defaultHref='/tabs/tab1'></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding">
    <form>
      <ion-text color='light'>
        <h1>LOG IN</h1>
      </ion-text>
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" #email required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" #password required></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" (click)="logIn(email, password)" expand="block">Login</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="secondary" (click)="authenticationService.GoogleAuth()" expand="block">
            Google Login
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color='danger' routerLink='/tabs/tab1/signup' routerDirection='forward' expand="block">Create an
            account</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-card>
</ion-content>